/* 
Generic Styling, for Desktops/Laptops 
*/
html, body {
    width: 100%;
    overflow-x: hidden;
    color: #BBB;
    font-family: 'Lily Script One', helveti;
}

.bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}

.bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    width: auto;
}

.navbar-collapse {
    background-image: url("../images/list-background.jpg");
    background-attachment: fixed;
}

.left-button:hover,
.right-button:hover {
    color: #08C;
}

form {
    color: white !important;
    margin-bottom: 75px;
}

form button {
    margin-top: 15px;
    width: 100%;
}

form a {
    text-align: center;
    color: white;
}

form span {
    display:inline-block;
    font-size: 40px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}

form input:disabled {
    background-color: #999 !important;
}

#ifcc {
    font-size: 18px;
}

.footer {
    display: none;
    color: lightskyblue;
    position: fixed;
    bottom: 5px;
    text-align: right;
    width: 100%;
}

.results {
    max-width: 100%;
}

.results td {
    width: 33.33%;
    padding: 0;
    display: inline-block;
}

.results img {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

#results > .container {
    width: 100% !important;
    padding-right: 0px;
    padding-left: 0px;
}

.bg {
    z-index: -1000;
}

form {
    z-index: -500;
}

div[id$="ifcc"] {
    z-index: 100;
}

nav {
    z-index: 500;
}

.navbar-collapse {
    z-index: 1000;
}

.nav-tabs {
    z-index: 2000;
}

ul li {
    z-index: 3000;  
}